.PrettyButton {
    padding: 20px;
    background-color: #f00;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.PrettyButton:hover {
    background-color: #0f0;
}

.PrettyButton > ul > li:last-of-type {
    font-weight: bold;
}