.selector {
width: fit-content;
display: grid;
grid-template-columns: repeat(6, 1fr);
margin: 0 auto;
font-size: 24px;
color: #0702a0;
}


button{
    padding: 10px 15px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 20px;
    color: black;
}
button:hover {
    background-color: #bbc225;
}

.free {
    background-color: #a8a8a8;
}

.selected {
    background-color:#50eb18;
}
p {
    text-align: center;
    font-size: 18px;
    color: rgb(234, 13, 13);
}