body {
    padding: 16px;
}

/* a.active {
    color: red;
    font-weight: bold;
} */

/* .nav-link {
    color: #61dafb;
    margin-right: 10px;
    text-decoration: none;
}

.nav-link.active {
    color: red;
    font-weight: bold;
} */